*{
    box-sizing: border-box;
    top:0;
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    
}
body{
    font-size: 16px;
    color: black;
}
main{
    margin: 20px;
    padding: 5px;
    border-radius: 25px;
   
    
}
.todayweather{
    
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
    width:300px;
    border:2px solid red;
    padding: 5px;
    color: white;
}

#search{
    height:30px;
    width:280px;
    text-align: center;
    border-radius: 25px;
    border: transparent;
    font-size: 22px;
    padding: 15px;
}
.searchbar{
    
    
    width:300px;
   
 align-items: center;
    
    margin-top: 30px;
    padding-bottom: 10px;
}
.searchbar i{
    position: absolute;
    top:65px;
    
    color: gray;
}

.searchbtn{
    border: none;
}
.current_data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
    height:86vh;
    width:300px;
    letter-spacing: 1px;
}
.temp {
    font-size: 2.8rem;
}
.temperature{
    display: flex;
    gap: 4px;
}
.icon1{
    height:200px;
    width: auto;
    
   
}
.mini-icon{
    height: 40px;
    width:auto;
}
.humidity-icon{
    height: 40px;
    width:auto;
}
.dailyicon{
    height: 40px;
    width:auto;
}

.today_description{
    display: flex;
    gap: 4px;
    align-items: center;
}
.today_humidity{
    display: flex;
    align-items: center;
}
#currentday,#currentdate{
    font-size: 1.5rem;
    font-style: bold;
    font-weight: 600;
}
#currenttime{
    font-weight: 200;
}
.location{
    width:auto;
    height:100px;
   
}
.description{
    text-transform: capitalize;
}
.city,.country{
    font-size: 1.5em;
}

.weeklyweather{
    
    position: absolute;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap:140px;
    top:25px;
    padding: 10px;
    left:330px;
    width:100%;
    background-color: aqua;
    height:200px;
}
.weekly{
    
}
.highlights{
    position: absolute;
    top:240px;
    padding: 10px;
    left:330px;
    width:100%;
    background-color: violet;
    height:420px;
}